## .NET / C#
bin/
obj/

## Visual Studio
.vs/

## User-specific files
*.user
*.suo
*.rsuser

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Misc
*.log
*.tmp
